*.DS_Store
.vscode/
*._*
*_*
.idea/
Atom.iml
java/Atom.iml
test/JUnitTest
api/*._*
css/*._*
extra/*._*
img/*._*
java/*._*
js/*._*
php/*._*
test/*._*

vendor/
local/

api/*_*
css/*_*
extra/*_*
img/*_*
java/*_*
js/*_*
php/*_*
test/*_*
