*.DS_Store
.vscode/
*._*
*_*
.idea/
Atom.iml
java/Atom.iml

api/*._*
css/*._*
extra/*._*
img/*._*
java/*._*
js/*._*
php/*._*
test/*._*

api/*_*
css/*_*
extra/*_*
img/*_*
java/*_*
js/*_*
php/*_*
test/*_*
