*.DS_Store
.vscode/
*._*
*_*
.idea/
Atom.iml
java/Atom.iml
api/*._*
css/*._*
extra/*._*
img/*._*
java/*._*
js/*._*
php/*._*
vendor/
local/
dashboard/*._*
dashboard/js/*._*
dashboard/css/*._*
dashboard/img/*._*
dashboard/fonts/*._*
dashboard/assets/*._*
api/
css/*_*
extra/*_*
img/*_*
java/*_*
js/*_*
php/*_*


