<!-- navbar -->
<style type="text/css">
    body{overflow: hidden;}
</style>
<nav class="navbar navbar-expand-lg navbar-light">
    <!-- toggle button -->
    <!-- onmousedown="event.preventDefault()" prevents button from staying clicked -->
    <button onmousedown="event.preventDefault()" ng-click="sidebar()" id="sidebarCollapse" type="button">
        <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand ml-3 mr-auto">{{ title }}</a>
</nav>

<!-- pop up -->
<div class="pop-up-thing" style="display: none; top: 10vh; position: absolute; z-index: 5000; background: white;
    width: 384px; height: 70vh; border-radius: 32px; padding: 0;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4)">
    <div style="display:block; width: 100%; background: #003b5c; height: 128px; border-top-left-radius: 32px;
        border-top-right-radius: 32px; border-bottom: 16px solid #85714D; padding-top: 24px; padding-left: 24px">
        <img src="../../img/faces/face-0.jpg" style="left:8px; top: 8px; width: 64px; height: 64px;
            position: relative; border-radius: 50%; float: left;"><span id="span-student" style="margin-left: 32px; color: white;
                font-size: 32px">#</span><br><span id="span-name" style="margin-left: 32px; color: white">Name Surname</span>
    </div>
    <p style="padding: 24px; font-size: 24px; font-weight: 300">
        <span style="width: 100px"><b>ID Number : &emsp;</b></span><span>971224 4637 865</span><br>
        <span style="width: 100px"><b>Birth Date : &emsp;</b></span><span>12 December 1997</span><br>
        <span style="width: 100px"><b>High School : &emsp;</b></span><span>Dira Yalo Secondary</span><br>
        <span style="width: 100px"><b>Enrollment Year : &emsp;</b></span><span>2016</span><br>
        <p ng-click="close()" style="padding: 18px; margin: 16px; text-align:center; cursor:pointer; background: #003b5c;
            border-radius: 8px; color: white; font-weight: 700; font-size: 22px;">CLOSE</p>
    </p>
</div>

<!---->
<div class="row">
    <div class="col">
        <div id="grade-book-card" class="card m-2">
            <div class="card-body p-0" style="overflow-x:hidden; overflow-y:auto">
                <div class="row mt-3 ml-3 mr-3">
                    <div class="col-2 p-0">
                        <!-- class drop down -->
                        <select class="nice-drop-down-menu" id="course-drop-down" style="width: 12vw;"></select>
                    </div>
                    <div class="col-2 p-0">
                        <!-- year drop down -->
                        <select class="nice-drop-down-menu" id="year-drop-down" style="width: 12vw;">
                            <option selected value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                        </select>
                    </div>
                    <div class="col-8" style="text-align:right">
                        <h4 style="font-weight:400">{{ enrolled }} enrolled students <i class="fa fa-user-o"></i></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-striped table-hover p-0 mt-3">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" style="font-weight: 400; font-size: 14px">Id</th>
                                    <th scope="col" style="font-weight: 400; font-size: 14px">Name</th>
                                    <th scope="col" style="font-weight: 400; font-size: 14px">Surname</th>
                                    <th scope="col" style="font-weight: 400; font-size: 14px">Faculty</th>
                                    <th scope="col" style="font-weight: 400; font-size: 14px; text-align: center">Average (%)</th>
                                    <th scope="col" style="font-weight: 400; font-size: 14px"></th>
                                </tr>
                            </thead>
                            <!-- overflow will scroll-->
                                <tbody ng-model="gradesTable">
                                    <tr ng-click="table($event)" ng-repeat="x in grades">
                                        <td>{{ x.user_id }}</td>
                                        <td>{{ x.user_name }}</td>
                                        <td>{{ x.user_surname }}</td>
                                        <td>{{ x.faculty_name }}</td>
                                        <td style="text-align:center">{{ x.average }}</td>
                                        <td><button ng-click="popup($event)" id="awe" class="more-info-button" onmousedown="event.preventDefault()"
                                                type="button"style="cursor: pointer;">
                                                    <b>PERSONAL INFO</b>
                                        </button></td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>