<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <!-- toggle button -->
    <!-- onmousedown="event.preventDefault()" prevents button from staying clicked -->
    <button onmousedown="event.preventDefault()" ng-click="sidebar()" id="sidebarCollapse" type="button">
        <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand ml-3 mr-auto">{{ title }}</a>
    <button ng-click="back()" type="button" class="ml-auto sidebar-collapse" type="button"
        onmousedown="event.preventDefault()"><i class="fa fa-angle-left"></i> </button>
</nav>