<IfModule mod_rewrite.c>
RewriteEngine On

# .htaccess redirects to understand goto
# https://www.youtube.com/watch?v=lRmlDeB7Ovs
#
# example.com/home.php  to example.com/home
# ^name?$ redirects to name.ext
RewriteRule ^user?$ index.php

# example.com/user.php?id=1 to example.com/user/1
# ^name/([0-9]+) redirects to name.php?id=$
RewriteRule ^user/([0-9]+) index.php?id=
</IfModule>